@import "tailwindcss";

@font-face {
  font-family: 'lausanne300';
  src: url(fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: 'lausanne500';
  src: url(fonts/Lausanne-500.woff2);
}


body {
  background-color: #ffffff;
  
}

.moveX{
  animation-name : moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink{
    opacity: 0;
    transition: all ease 0.3s;
}

.moveXContact{
  animation-name : moveAnimation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLinkContact{
    opacity: 1;
    transition: all ease 0.3s;
}


.link:hover .moveLink{
    opacity: 1;
}

@keyframes moveAnimation {
  from {
    transform : translaterX(0);
  }
  to {
    transform : translateX(-100%);
  }
}

 